body {
  background-color: black; /*setting bg colour*/
}

/* Formatting 'CLICK' png button */
.button {
  /* adding a pulsing animation to the button*/
  animation: pulse 1s alternate infinite ease-in;
  margin-left: auto;
  margin-right: auto;
  /*position- I had some trouble centering the image with the absolute postion setting which allowed me to overlap png's*/
  position: absolute;
  left: 50%;
  margin-left: -143.5px;
  top: 42vh;
  margin-top: -96.5px;
}
img {
  width: 20vw;
}

/* defining the animation*/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

/*Formatting the counter with color and the google font linked in HTML*/
#counter {
  color: #e27839;
  font-family: "Architects Daughter";
  text-align: center;
}
