/*                                                              MAIN STYLING */

@font-face {
  font-family: myFirstFont;
  src: url("digital-7.regular.ttf");
}

html {
  height: 100%;
  font-family: Arial, sans-serif;
  filter: contrast(110%);
  /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
  /* filter: hue-rotate(100deg); */
  /* filter: invert(50); */
  /* font-family: myFirstFont; */
}
#svgzoom {
  /* transform: scale(3);
  transform: translate(0px, 540px); */

  /* transform: translate(-1985.4089404592341, -608.2507001387013) scale(2); */
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
  margin: 0;
}
.forbestitle {
  text-align: center;
}
body {
  /* background-color: #a3a3a3; */
  /* background-image: url("../Assets/img/bg_image.jpg"); */
}
#maincontainer {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.map {
  z-index: 0;
  transform: scale(2);
}
#theMapSVG {
  width: 100%;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
path {
  filter: drop-shadow(0 -0.3mm 0.3mm rgb(0, 0, 0));
  /* filter: blur(0.5px); */
}
/*Keeps the svg within its div ^ */

/*                                                      STYLING THE TWO SIDE PANELS: */

.frame {
  width: 20vw;
  height: 90vh;

  position: absolute;

  opacity: 1;
  display: flex;
  justify-content: center;

  border-radius: 15px;
  background-color: rgba(211, 211, 211, 0.294);
  align-items: center;
  z-index: 1;

  overflow: visible;
  overflow-x: visible;
}

#rightframe {
  right: 30px;
  width: 600px;
  overflow: visible;
  overflow-x: visible;
}

#leftframe {
  left: 30px;
}

.interior {
  /* Needed an interior div, which has two more interior divs(upper and lower)*/
  height: 100%;
  width: 100%;
}

.upper {
  width: 100%;
  height: 50%;
  display: flex;
  overflow: visible;
  overflow-x: visible;
}

#uppercircle {
  /* Had to specify to centre the circle because when I applied it to 'upper' it messes up the list of billionaires.*/
  align-items: center;
  justify-content: center;
  overflow: visible;
  overflow-x: visible;
}

.lower {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* working on the list of billionaires*/

#billionairesDIV {
  /* background-color: burlywood; */
  border-radius: 15px;
  width: 90%;
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
  height: 46%;
}
#BillList {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
ul {
  list-style-type: none;
  list-style-position: inside;
}
ul li {
  background: rgba(211, 211, 211, 0.294);
  border: 3px solid #8441ae;

  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  align-items: center;
  transition: all 0.2s ease;
  box-shadow: 0px 1px 3px rgb(70, 70, 70);
  font-size: 25px;
}

#graph {
  width: 95%;
  /* margin-bottom: 50px; */
  /* padding: 20px; */
}

#graphSVG {
  width: 100%;
  height: 100%;
}

/*                                                          STYLING AND DEFINING THE CIRCLES*/

:root {
  --country-size: 300px;
  --bill-size: 300px;
  --pc-size: 100px;
  --blur-size: calc(0.5 * var(--pc-size));
}

.circle {
  /* background-color: #b26e3e; */
  /* background-image: url(../Assets/img/money.jpeg); */
  background-repeat: no-repeat;
  /* filter: grayscale(80%); */

  border: 2px solid black;
  border-radius: 100%;
  width: var(--country-size);
  height: var(--country-size);
  top: 30px;
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-content: center;

  filter: drop-shadow(0 1mm 1mm rgb(0, 0, 0));
}
.papertexture {
  object-fit: cover;
  opacity: 1;
  border-radius: 100%;
  /* filter: contrast(150%); */
}
.billCircle {
  /* background-color: #8441ae; */
  border: 2px solid black;
  border-radius: 100%;
  width: var(--bill-size);
  height: var(--bill-size);
  top: 30px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-content: center;

  filter: drop-shadow(0 1mm 1mm rgb(0, 0, 0));
}

/* Experiment for adding another circle */
/* .pcCircle {
  background-color: #cacaca;
  opacity: 0.2;
  border: 2px solid black;
  border-radius: 50%;
  width: var(--pc-size);
  height: var(--pc-size);
  filter: blur(25px);
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 3;
  position: absolute;
} */

/* Working on country hover */

#tooltip {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-image: url(../Assets/img/paper.jpg);
  background-size: 100%;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
}
#tooltip p {
  padding: 0;
  margin: 0;
}
#tooltip.show {
  opacity: 1;
}
#CountryNamePopUp {
  font-weight: bold;
}

body {
  background-image: url(../Assets/img/bg_image.jpg);
  background-size: 100%;
  width: 100%;
  height: 100%;
  border: 2px solid;
}

/* LAyout 2 */

.l2_left {
  background-color: #8441ae;
  width: 20vw;
  height: 90vh;
  border-radius: 15px;
  margin: auto;
}

.l2_map {
}

.l2_bottom {
}

.exp {
  /* background-color: blueviolet; */
  height: 350px;
  width: 350px;
}
