body {
  background-color: black;
}

h1 {
  color: white;
}

.circle {
  background-color: red;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  filter: blur(60px);
  opacity: 0.9;

  /* margin: 200px; */
}
.circleline {
  /* border: 2px solid white; */
  /* background-color: aqua; */
  width: 300px;
  height: 300px;
  position: absolute;
  right: 10vw;
  top: 10vw;

  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
}
#frame {
  /* background-color: aqua; */
  height: 100vh;
  width: 100vw;
}
